.menu {
	border:1px dashed #E83809;
	background-color: #e7e7e7;
	color: #676767;
	margin: 20px;
	float: left;
	padding: 20px;
	
}
.main {
	background-color: #e7e7e7;
	color: #676767;
	border: 1px dashed #E83809;
	border-color:;
	width: 300px;
	float: left;
	margin-top: 20px;
}

.label {
	margin: 0px auto;
}

body {
	font-family: Calibri;
}

input[type=submit] {
	color: #fff;
	text-decoration: none;
	user-select: none;
	background: rgb(238, 92, 4);
	padding: .5em 1em;
	outline: none;
	border: none;
}

input[type=submit]:hover {
	background: rgb(234, 119, 50);
}

input[type=submit] active {
	background: rgb(152, 15, 0);
}

input[type=text] {
	padding: 3px;
	border: 2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 180px;
}

input[type=text]:focus {
	border-color: #333;
}

.maintable {
	padding: 10px;
	margin: 10px;
	vertical-align: top;
}

.elementborder {
	border: 1px dashed #333;
	padding: 5px;
	margin-bottom: 10px;
	
}

.error {
	color: #fa4f00;
	font-size: 12px;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

.searchbutton {
	margin: 10px 40px;
	float: right;
}

.editdiv {
	widows: 300px;
}

.form {
	margin-bottom: 20px;
}
.label {
	margin: 0px auto;
}
.green {
	color: #14de28;
	font-size: 16px;
}
